<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spotify Clone</title>
    <link rel="stylesheet" href="css/index.css"/>
</head>
<body>
    <div class="sidebar">
        <div class="sidebar-wrapper">
            <div class="sidebar__logo">
                <img src="images/Spotify_Logo_RGB_White.png" alt="Logo"/>
            </div>
            <div class="sidebar__menu">
                <a class="sidebar__menu__selecionado" href="#" ><i class="fas fa-home"></i>Inicio</a>
                <a href="#" ><i class="fas fa-search"></i>Buscar</a>
                <a href="#" ><i class="fas fa-database"></i>Biblioteca</a>
            </div>
            <div class="sidebar__menu">
                <p class="sidebar__menu__title"">Playlist</p>
                <div class="sidebar__menu__item">
                    <div class="sidebar__menu__item__componente">
                        +
                    </div>
                    <span>Criar Playlist</span>
                </div>
                <div class="sidebar__menu__item">
                    <div class="sidebar__menu__item2__componente">
                        <img src="images/1092797.jpg"/>
                    </div>
                    <span>Musicas Curtidas</span>
                </div>
            </div>
            <div class="sidebar__playlists">
                <a href="#">Playlist 1</a>
                <a href="#">Playlist 2</a>
                <a href="#">Playlist 3</a>
                <a href="#">Playlist 4</a>
                <a href="#">Playlist 5</a>
            </div>

            <div class="sidebar__playlists">
                <a href="#">Playlist 1</a>
                <a href="#">Playlist 2</a>
                <a href="#">Playlist 3</a>
                <a href="#">Playlist 4</a>
                <a href="#">Playlist 5</a>
            </div>
            
        </div>
    </div>
    <div class="main">
        <div class='main-wrapper'>
            <div class="main__row">
                <div class="main__row__title">
                    <h2>Paradas</h2>
                </div><!-- main__row__title -->
                <div class="main__col">
                    <img src="images/5.jpg"/>
                    <h3>As 50 mais tocadas</h3>
                    <p>Descrição TOP 50</p>
                </div><!-- main__col -->

                <div class="main__col">
                    <img src="images/1.jpg"/>
                    <h3>As 50 mais tocadas</h3>
                    <p>Descrição TOP 50</p>
                </div><!-- main__col -->

                <div class="main__col">
                    <img src="images/4.jpg"/>
                    <h3>As 50 mais tocadas</h3>
                    <p>Descrição TOP 50</p>
                </div><!-- main__col -->

                <div class="main__col">
                    <img src="images/3.jpg"/>
                    <h3>As 50 mais tocadas</h3>
                    <p>Descrição TOP 50</p>
                </div><!-- main__col -->

                <div class="main__col">
                    <img src="images/2.jpg"/>
                    <h3>As 50 mais tocadas</h3>
                    <p>Descrição TOP 50</p>
                </div><!-- main__col -->
               

            </div><!-- main__row-->

            <div class="main__row">
                <div class="main__row__title">
                    <h2>Rock</h2>
                </div><!-- main__row__title -->
                <div class="main__col" data-image="images/black.jpg" data-artist="AC/DC" data-song="Back In Black" data-file="Assets/music_black.mp3">
                    <img src="images/black.jpg"/>
                    <h3>Back in black</h3>
                    <p>AC/DC</p>
                </div><!-- main__col -->

                <div class="main__col" data-image="images/jungle.jpg" data-artist="Guns 'N Roses" data-song="Welcome to the jungle" data-file="Assets/musica_jungle.mp3" >
                    <img src="images/jungle.jpg"/>
                    <h3>Welcome to the Jungle</h3>
                    <p>Guns 'n Roses</p>
                </div><!-- main__col -->

            

            </div><!-- main__row-->


        </div><!-- main-wrapper-->
    </div> <!-- main -->

    <div class="player">
        <div class="player__artist">

        </div><!-- player__artist -->
        <div class="player__control">
            <div class="player__control__buttons">
                <a href="#"><i class="fas fa-backward"></i></a>
                <a style="display:none;" id="pauseBtn" href="#"><i class="far fa-pause-circle"></i></a>
                <a id="playBtn" href="#"><i class="far fa-play-circle"></i></a>
                <a href="#"><i class="fas fa-forward"></i></a>
                
            </div><!--player__control__buttons -->

            <div class="player__control__progress">
                <div style="width: 0%;" class="player__control__progress_2">

                </div><!-- player__control__progress_2 -->
            </div><!-- player__control__progress -->
        </div><!-- player__control -->
        

    </div><!-- player-->
    <audio id="audioPlayer"  style="position:absolute; left:0; top:0; z-index:-2; opacity:0;" controls=""></audio>

    <script src="Js/all.min.js"></script>
    <script src="Js/Player.js"></script>
</body>
</html>