 
.animeLeft{
    
    opacity: 0;
    transform: translateX(-20px);
    animation: animeLeft 2000ms forwards;
}
@keyframes animeLeft {
    to{
        color: black;
        opacity: 1;
        transform: initial;
    }
    
}
a{
    text-decoration: none;
    color:rgb(0,219,252);
}
.container{
    display: flex;
    flex-direction: row-reverse;
}
.home_container{
    margin-top: 5rem;
    font-family:'Poppins','Roboto';
    height: 55vh;
    width: 100%;
    /*background: linear-gradient(to top,rgb(0,219,252) 5%,transparent 95% );*/
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-around;
    
    
}

.perfil_foto img{
    margin-left: 2rem;
    height: 20rem;
    width: 20rem;
    box-shadow: 0px 10px 10px black;
    border-radius: 50%;
    background-color:rgb(41,41,41) ;
    transition: ease all 300ms;
}
.perfil_foto img:hover{
    box-shadow: 0px 10px 10px rgb(0,219,252);
}
.sobre{
    font-size: 19px;
    margin-right: 3rem;
    width: 30rem;
    transition: ease all 1000ms;
}
.sobre h1{
    transition: ease all 300ms;
}
.sobre h1:hover{
    color:rgb(0,219,252) ;
    box-shadow: 0px 10 10px black;
}
.container{
    display: none;
}

@media screen and (max-width:760px){
    .container{
        display: flex;
        flex-direction: column;
        margin-top: 5rem;
        margin-bottom: 2rem;
        font-family:'Poppins','Roboto';
        height: 55vh;
        width: 100%;
        /*background: linear-gradient(to top,rgb(0,219,252) 5%,transparent 95% );*/
        
        margin-left: 3rem;
       
        
    }
    .home_container{
        display: none;
        align-content: center;
        justify-content: center;
        font-size: 20px;
        margin: 0;
        margin-left:190px;
    }
    .home_container img{
        vertical-align: center;
        align-self: center;
    }
    .perfil_foto{
        display: flex;
        align-items: center;
        height: 10rem;
        width: 10rem;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
    .perfil_foto img{
        
        justify-self: center;
        height: 10rem;
        width: 10rem;
    }
    .sobre{
        
        
    
        width: 30rem;
        transition: ease all 1000ms;
    }
}